@import "tailwindcss";

/* If you are using Swiper CSS, import them here after tailwind */
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
/* Your other CSS follows... */

.font-cursive {
  font-family: 'Covered By Your Grace', cursive;
}
html {
  scroll-behavior: smooth;
}
.bg-primary{
  background-color: green;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* This is okay, keeps the fruit from causing side-scroll */
}

.bg-fav{
  background:#beb996;
}